<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">Open<br class="mob"/>
        Margin Way:<br/>
        Margin Match</h1>
        <p class="home-text">Place, Clear, Win!</p>
        <p class="home-text-two">Look, here's the thing - it's all about those edges. That's honestly where it gets interesting.<br/>
        Matches don’t count everywhere.<br />
        Only the margin matters.<br />
        Control the perimeter.<br />
        Unlock the interior.<br />
        Build strategy from the outside in.</p>
        <a class="home-link" href="#margin">
            <p>Explore the System</p>
        </a>
    </div>
</section>