.footer {
background: #222742;
}
.footer-container{
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #b1e6fa;
}
.footer-wraper{
  display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-navigation{
  display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-text{
  font-weight: 400;
    font-size: 11px;
    text-align: right;
}
@media only screen and (min-width: 1440px) {
  .footer-wraper{
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-navigation{
    text-align: right;
  }
  .footer-text{
    font-size: 12px;
  }
}