.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-title{
    margin-top: 20px;
    font-family: "Zen Maru Gothic", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        color: #fff;
text-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.15);
}
.home-text{
    margin-top: 16px;
    font-family: "Zen Maru Gothic", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
        color: #fff;
}
.home-text-two{
    margin-top: 24px;
    color: #fff;
}
.home-link{
    margin-top: 200px;
    border-radius: 24px;
        padding: 16px 24px;
        width: 256px;
        height: 59px;
background: #fdd542;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
font-weight: 700;
font-size: 18px;
transition: background 0.3s ease-in-out;
}
.home-link:hover{
background: #e6c038;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
    height: 759px;
 }
 .mob{
    display: none;
 }
 .home-title{
    font-size: 72px;
 }
 .home-text{
    margin-top: 24px;
    font-size: 28px;
 }
 .home-text-two{
    width: 447px;
 }
 .home-link{
    margin-top: 32px;
    margin-left: 0;
 }
}
/* The Concept */
.concept-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
@media only screen and (min-width: 1440px) {
.concept-container {
        flex-direction: row;
        align-items: start;
        gap: 160px;
    }
.concept-wrapper{
    width: 417px;
}
}
/* How It Works */
.how-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.how-list{
    list-style-type: disc;
    padding-left: 30px;
    margin-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
  .how-container{
flex-direction: row-reverse;
align-items: start;
gap: 96px;
  }
  .how-wrapper{
    width: 540px;
  }
}
/* Margin System */
.margin-title{
    margin-bottom: 24px;
}
.margin-subtitle{
    font-family: "Zen Maru Gothic", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
        color: #222742;
margin-bottom: 64px;
}
.margin-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}
.margin-item{
    border-radius: 16px;
        padding: 16px;
        width: 343px;
        height: auto;
background: #5579e6;
}
.margin-item-title{
    font-family: "Zen Maru Gothic", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.5;
        color: #fdd542;
margin-bottom: 8px;
}
.margin-item-text{
    color: #fff;
}
@media only screen and (min-width: 1440px) {
 .margin-subtitle{
    font-size: 48px;
    margin-bottom: 80px;
 }
 .margin-list{
    flex-direction: row;
    gap: 32px;
    margin-bottom: 24px;
 }
 .margin-item{
    width: 256px;
        height: 124px;
 }
 .margin-item-title{
    font-size: 20px;
 }
}
/* Experience */
.experience-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.experience-list{
    list-style-type: disc;
    padding-left: 30px;
}
@media only screen and (min-width: 1440px) {
  .experience-container{
    flex-direction: row-reverse;
    gap: 96px;
  }
  .experience-wrapper{
    width: 530px;
  }
}
/* Testimonials */
.my-swiper .swiper-slide{
    border-radius: 16px;
        padding: 16px;
        background: #5579e6;
        color: #fff;
}
.author{
    margin-top: 16px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.5;
        text-align: right;
        color: #8ce533;
}
@media only screen and (min-width: 1440px) {
.author {
font-size: 20px;
    }
}